Repository heroyik/nick: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix Vitest configuration and add comprehensive testing setup
  GITHUB_SETUP.md
  QUICK_DEPLOY.md
  TESTING_GUIDE.md
  src/__tests__/sample.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Add Vitest status and summary documentation
  VITEST_FIXED.md
Due: prettier --write

Add Vercel configuration and deployment guide
  VERCEL_DEPLOY.md
  vercel.json
Due: prettier --write

Add final deployment ready summary
  DEPLOYMENT_READY.md
Due: prettier --write

Add GitHub Actions workflow and comprehensive Vercel deployment guide
  .github/workflows/deploy.yml
  DEPLOY_VERCEL.md
Due: prettier --write

Fix Vercel deployment: Add --legacy-peer-deps for React 19 compatibility
  vercel.json
Due: prettier --write

Add Vercel Speed Insights
  .gitignore
  package-lock.json
  package.json
  src/main.tsx
Due: eslint --fix, prettier --write

Fix GitHub Actions workflow to use --legacy-peer-deps
  .github/workflows/deploy.yml
Due: none

setup codex
  .vscode/extensions.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss})) or (any of: *.{json,md})
